# Built-in Data Structures, Functions,

## Data Structures and Sequences

### Tuple

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [3]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [4]:
tup[0]

's'

In [5]:
tup = tuple(['fox', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [6]:
tup[1].append(3)
tup

('fox', [1, 2, 3], True)

In [7]:
(4, None, 'fox') + (6, 0) + ('bar',)

(4, None, 'fox', 6, 0, 'bar')

In [8]:
('fox', 'bar') * 4

('fox', 'bar', 'fox', 'bar', 'fox', 'bar', 'fox', 'bar')

#### Unpacking tuples

In [9]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [10]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

tmp = a
a = b
b = tmp

In [11]:
a, b = 1, 2
a
b
b, a = a, b
a
b

1

In [12]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [13]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b
rest

[3, 4, 5]

In [14]:
a, b, *_ = values

#### Tuple methods

In [15]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### List

In [16]:
a_list = [2, 3, 7, None]
tup = ('fox', 'cat', 'baz')
b_list = list(tup)
b_list
b_list[1] = 'SomeString'
b_list

['fox', 'SomeString', 'baz']

In [17]:
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

In [18]:
b_list.append('dwarf')
b_list

['fox', 'SomeString', 'baz', 'dwarf']

In [19]:
b_list.insert(1, 'red')
b_list

['fox', 'red', 'SomeString', 'baz', 'dwarf']

In [20]:
b_list.pop(2)
b_list

['fox', 'red', 'baz', 'dwarf']

In [21]:
b_list.append('fox')
b_list
b_list.remove('fox')
b_list

['red', 'baz', 'dwarf', 'fox']

In [22]:
'dwarf' in b_list

True

In [23]:
'dwarf' not in b_list

False

#### Concatenating and combining lists

In [24]:
[4, None, 'fox'] + [7, 8, (2, 3)]

[4, None, 'fox', 7, 8, (2, 3)]

In [25]:
x = [4, None, 'fox']
x.extend([7, 8, (2, 3)])
x

[4, None, 'fox', 7, 8, (2, 3)]

everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

everything = []
for chunk in list_of_lists:
    everything = everything + chunk

#### Sorting

In [26]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [27]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

#### Binary search and maintaining a sorted list

In [28]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)
bisect.bisect(c, 5)
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

#### Slicing

In [29]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [30]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [31]:
seq[:5]
seq[3:]

[6, 3, 5, 6, 0, 1]

In [32]:
seq[-4:]
seq[-6:-2]

[6, 3, 5, 6]

In [33]:
seq[::2]

[7, 3, 3, 6, 1]

In [34]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### Built-in Sequence Functions

#### enumerate

i = 0
for value in collection:
   # do something with value
   i += 1

for i, value in enumerate(collection):
   # do something with value

In [36]:
some_list = ['fox', 'cat', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'baz': 2, 'cat': 1, 'fox': 0}

#### sorted

In [37]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### zip

In [38]:
seq1 = ['fox', 'cat', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('fox', 'one'), ('cat', 'two'), ('baz', 'three')]

In [39]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('fox', 'one', False), ('cat', 'two', True)]

In [40]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: fox, one
1: cat, two
2: baz, three

In [41]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names
last_names

('Ryan', 'Clemens', 'Curt')

#### reversed

In [42]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dict

In [43]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [44]:
d1[7] = 'an integer'
d1
d1['b']

[1, 2, 3, 4]

In [45]:
'b' in d1

True

In [46]:
d1[5] = 'some value'
d1
d1['dummy'] = 'another value'
d1
del d1[5]
d1
ret = d1.pop('dummy')
ret
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [47]:
list(d1.keys())
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [48]:
d1.update({'b' : 'fox', 'c' : 12})
d1

{'a': 'some value', 'b': 'fox', 7: 'an integer', 'c': 12}

#### Creating dicts from sequences

mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [49]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

value = some_dict.get(key, default_value)

In [50]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

#### Valid dict key types

In [51]:
hash('string')
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

In [52]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### set

In [53]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [54]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [55]:
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [56]:
a.intersection(b)
a & b

{3, 4, 5}

In [57]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

{3, 4, 5}

In [58]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [59]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

In [60]:
{1, 2, 3} == {3, 2, 1}

True

### List, Set, and Dict Comprehensions

[

result = []
for val in collection:
    if

In [61]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

dict_comp = {

set_comp = {

In [62]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [63]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [64]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions

In [65]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [66]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

In [67]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [68]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Functions

def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

my_function(5, 6, z=0.7)
my_function(3.14, 7, 3.5)
my_function(10, 20)

### Namespaces, Scope, and Local Functions

def func():
    a = []
    for i in range(5):
        a.append(i)

a = []
def func():
    for i in range(5):
        a.append(i)

In [69]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

### Returning Multiple Values

def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

return_value = f()

def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

### Functions Are Objects

In [70]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [71]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [72]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [73]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [74]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [75]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### Anonymous (Lambda) Functions

def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

In [76]:
strings = ['fox', 'card', 'bar', 'aaaa', 'abab']

In [77]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'abab', 'fox', 'bar', 'card']

### Generators

In [78]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [79]:
dict_iterator = iter(some_dict)
dict_iterator

In [80]:
list(dict_iterator)

['a', 'b', 'c']

In [81]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [82]:
gen = squares()
gen

In [83]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

#### Generator expresssions

In [84]:
gen = (x ** 2 for x in range(100))
gen

def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [85]:
sum(x ** 2 for x in range(100))
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}